n8n/workflows/kratos.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a78c2256-c123-4280-b22d-b375ff664f36",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1408,
        432
      ],
      "id": "12ca321c-3167-48b5-8c07-9ed127f96958",
      "name": "Webhook",
      "webhookId": "a78c2256-c123-4280-b22d-b375ff664f36"
    },
    {
      "parameters": {
        "jsCode": "return $input.first().json.body;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1232,
        432
      ],
      "id": "e15ea13f-50a6-4c25-bc85-f663ad6640a1",
      "name": "Code in JavaScript14"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}\n{\n  lore: {{ $json.lore }},\n  hasMascot: {{ $json.hasMascot }},\n  tone: {{ $json.tone }},\n  projectType: {{ $json.projectType }},\n  goal: {{ $json.goal }},\n  visualVibe: {{ $json.visualVibe }},\n  palettes: [\n    {{ $json.palettes }}\n  ],\n  outputs: {\n    documentation: {\n      markdown: {{ $json.data.outputs.documentation.markdown }},\n      tweets: {{ $json.data.outputs.documentation.tweets }},\n    },\n    visuals: {\n      logo: {{ $json.data.outputs.visuals.logo }},\n      banners: {{ $json.data.outputs.visuals.banners }},\n      x_assets: {{ $json.data.outputs.visuals.x_assets }},\n    },\n    website: {\n      langingPage: {{ $json.data.outputs.website.landingPage }},\n    }\n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -816,
        432
      ],
      "id": "40560212-8550-4d28-b0f7-7fb38b6692d8",
      "name": "AI Agent3"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "timeout": 360000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -944,
        656
      ],
      "id": "a1ce223c-2547-472f-ab26-2f2f8e6cd87a",
      "name": "OpenAI Chat Model3",
      "credentials": {
        "openAiApi": {
          "id": "wCXpkEOh6gKdzoB9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -784,
        656
      ],
      "id": "5b9e8665-9b75-4ea7-87c7-9bc309c9b1fe",
      "name": "Simple Memory3"
    },
    {
      "parameters": {
        "endpointUrl": "https://f938354b789f.ngrok-free.app/sse",
        "serverTransport": "sse",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        -672,
        656
      ],
      "id": "a200ebd1-60b0-4af6-b1db-d3b41794c53c",
      "name": "MCP Client3"
    },
    {
      "parameters": {
        "jsCode": "return {\n  sessionId: $input.first().json.sessionId,\n  prompt: \"STEP 0: use ONLY the generate_lore tool\",\n  lore: $input.first().json.data.lore,\n  hasMascot: $input.first().json.data.hasMascot,\n  tone: $input.first().json.data.tone,\n  projectType: $input.first().json.data.projectType,\n  goal: $input.first().json.data.goal,\n  visualVibe: $input.first().json.data.visualVibe,\n  palettes: $input.first().json.data.palettes\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -928,
        432
      ],
      "id": "0e75110f-3510-4f03-9527-1b708e383947",
      "name": "Code in JavaScript15"
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "profile",
          "mode": "list",
          "cachedResultName": "profile"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "address": "={{ $json.data.address }}",
            "running": true,
            "step": 0,
            "substep": 0
          },
          "matchingColumns": [
            "address"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "address",
              "displayName": "address",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "builds",
              "displayName": "builds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "running",
              "displayName": "running",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "substep",
              "displayName": "substep",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -912,
        112
      ],
      "id": "899c08e7-ec3c-4f9d-8997-cc145d055301",
      "name": "Insert or update rows in a table1",
      "credentials": {
        "postgres": {
          "id": "Eb14Mhsf3mSrkrpT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "f4a4c7cc-cb39-40aa-b966-10adb90997a3",
              "leftValue": "={{ $('Code in JavaScript14').first().json.data.outputs.documentation.markdown }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -464,
        432
      ],
      "id": "7e6df369-8743-4ac0-a38d-f47a1027dbca",
      "name": "If1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "92d8315f-9d79-4f79-ab03-03884b3f0182",
              "leftValue": "={{ $('Code in JavaScript14').first().json.data.outputs.documentation.tweets }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -128,
        624
      ],
      "id": "61e0ca97-26e1-4100-b031-fd1fa2ac8e8f",
      "name": "If2"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}\n\nLORE:\n{{ $json.lore }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        0,
        192
      ],
      "id": "00f2ef8c-cdde-4831-9676-05f3b8f7a120",
      "name": "AI Agent4",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -128,
        416
      ],
      "id": "95321bbe-7f5b-44c8-9182-dc1d430ccfc8",
      "name": "OpenAI Chat Model4",
      "credentials": {
        "openAiApi": {
          "id": "wCXpkEOh6gKdzoB9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        32,
        416
      ],
      "id": "ad3bb47a-46c6-47a3-b088-15ab643c5d6e",
      "name": "Simple Memory4"
    },
    {
      "parameters": {
        "endpointUrl": "https://f938354b789f.ngrok-free.app/sse",
        "serverTransport": "sse",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        144,
        416
      ],
      "id": "48464d2c-fba8-47ff-846e-add47153c358",
      "name": "MCP Client4"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\n\nconst folder = $('Code in JavaScript14').first().json.data.address;\nconst build_id = $('Select rows from a table').first().json.id;\n\nfs.mkdirSync(`/data/shared/${folder}/${build_id}/documentation`, { recursive: true });\n\nreturn {\n  sessionId: $('Code in JavaScript15').first().json.sessionId,\n  prompt: \"Use ONLY your generate_documentation tool to create the documentation with the lore provided\",\n  lore: $input.first().json.output\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -208,
        192
      ],
      "id": "165e94fa-4578-43b4-ac27-c53585ba6d79",
      "name": "Code in JavaScript17"
    },
    {
      "parameters": {
        "jsCode": "// Ton input = [{ output: \"JSON_STRING\" }]\n\nconst raw = items[0].json.output;\n\n// Parse la string JSON\nconst files = JSON.parse(raw);\n\nconst fs = require('fs');\n\nconst folder = $('Code in JavaScript14').first().json.data.address;\n\nfs.mkdirSync(`/data/shared/${folder}/documentation`, { recursive: true });\n\n// Retourne 1 item par fichier\nreturn files.map(file => ({\n  json: {\n    path: file.filename,\n    content: file.content\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        272,
        192
      ],
      "id": "8cdff8d8-329b-4551-8329-0346ca4c3fb1",
      "name": "Code in JavaScript18"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "content",
        "binaryPropertyName": "=data",
        "options": {
          "encoding": "utf8",
          "fileName": "={{ $json.path }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        400,
        192
      ],
      "id": "11fab238-74da-49d0-9609-19a6004d1cf8",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/shared/{{ $('Code in JavaScript14').item.json.data.address }}/{{ $('Select rows from a table').first().json.id }}/documentation/{{ $binary.data.fileName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        528,
        192
      ],
      "id": "6d8ff7b2-8059-4127-9eae-a48cad58f6bb",
      "name": "Read/Write Files from Disk4",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "profile",
          "mode": "list",
          "cachedResultName": "profile"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "address": "={{ $('Code in JavaScript14').item.json.data.address }}",
            "running": true,
            "step": 1,
            "substep": 0
          },
          "matchingColumns": [
            "address"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "address",
              "displayName": "address",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "builds",
              "displayName": "builds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "running",
              "displayName": "running",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "substep",
              "displayName": "substep",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        0,
        0
      ],
      "id": "92a7f8e2-75e7-4cd1-98a5-5a8f0263ba35",
      "name": "Insert or update rows in a table2",
      "credentials": {
        "postgres": {
          "id": "Eb14Mhsf3mSrkrpT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "profile",
          "mode": "list",
          "cachedResultName": "profile"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "address": "={{ $('Code in JavaScript14').item.json.data.address }}",
            "running": true,
            "step": 1,
            "substep": 1
          },
          "matchingColumns": [
            "address"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "address",
              "displayName": "address",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "builds",
              "displayName": "builds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "running",
              "displayName": "running",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "substep",
              "displayName": "substep",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        656,
        192
      ],
      "id": "6d523cb9-9666-40dd-b5e3-80b21d13b41f",
      "name": "Insert or update rows in a table3",
      "credentials": {
        "postgres": {
          "id": "Eb14Mhsf3mSrkrpT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}\n\nLORE:\n{{ $json.lore }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        528,
        608
      ],
      "id": "14fb1304-5337-4232-91da-dcd96e7849df",
      "name": "AI Agent5",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        400,
        832
      ],
      "id": "5f5689a8-a965-40e6-a87a-e41cab465f78",
      "name": "OpenAI Chat Model5",
      "credentials": {
        "openAiApi": {
          "id": "wCXpkEOh6gKdzoB9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        560,
        832
      ],
      "id": "e0ac36b3-2641-4b11-a182-3f1c11229df3",
      "name": "Simple Memory5"
    },
    {
      "parameters": {
        "endpointUrl": "https://f938354b789f.ngrok-free.app/sse",
        "serverTransport": "sse",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        672,
        832
      ],
      "id": "76029f45-852a-4c6c-adb1-51410a69ecde",
      "name": "MCP Client5"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\n\nconst folder = $('Code in JavaScript14').first().json.data.address;\nconst build_id = $('Select rows from a table').first().json.id;\n\nfs.mkdirSync(`/data/shared/${folder}/${build_id}/documentation`, { recursive: true });\n\n\nreturn {\n  address: $('Code in JavaScript14').first().json.data.address,\n  sessionId: $('Code in JavaScript15').first().json.sessionId,\n  prompt: \"Use ONLY your generate_tweets tool to create the 20 tweets with the lore provided\",\n  lore: $input.first().json.output\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        320,
        608
      ],
      "id": "4c3c6954-b1db-45d6-8357-2e0014d68c9c",
      "name": "Code in JavaScript19"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "content",
        "binaryPropertyName": "=data",
        "options": {
          "encoding": "utf8",
          "fileName": "={{ $json.path }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        928,
        608
      ],
      "id": "ea4fb978-bbb2-49b5-903c-23e562bdd016",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/shared/{{ $('Code in JavaScript20').item.json.address }}/{{ $('Select rows from a table').first().json.id }}/documentation/{{ $binary.data.fileName }}",
        "dataPropertyName": "=data",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        1056,
        608
      ],
      "id": "cfb2b011-f5f2-46cd-b2fe-72ee3dd5660a",
      "name": "Read/Write Files from Disk5",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "profile",
          "mode": "list",
          "cachedResultName": "profile"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "address": "={{ $json.address }}",
            "running": true,
            "step": 1,
            "substep": 2
          },
          "matchingColumns": [
            "address"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "address",
              "displayName": "address",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "builds",
              "displayName": "builds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "running",
              "displayName": "running",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "substep",
              "displayName": "substep",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        544,
        432
      ],
      "id": "c4bba2bf-41c1-4c26-bd59-53773759da7e",
      "name": "Insert or update rows in a table4",
      "credentials": {
        "postgres": {
          "id": "Eb14Mhsf3mSrkrpT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "upsert",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "profile",
          "mode": "list",
          "cachedResultName": "profile"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "address": "={{ $('Code in JavaScript20').item.json.address }}",
            "running": true,
            "step": 1,
            "substep": 3
          },
          "matchingColumns": [
            "address"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "address",
              "displayName": "address",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "builds",
              "displayName": "builds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": true
            },
            {
              "id": "running",
              "displayName": "running",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            },
            {
              "id": "substep",
              "displayName": "substep",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1248,
        608
      ],
      "id": "64e5e642-349d-4c60-aaa8-6b9da3b85e9e",
      "name": "Insert or update rows in a table5",
      "credentials": {
        "postgres": {
          "id": "Eb14Mhsf3mSrkrpT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "9a7c945f-5834-4d28-a7be-18e03670d85a",
              "leftValue": "={{ $('Code in JavaScript14').first().json.data.outputs.visuals.logo }}",
              "rightValue": false,
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        416,
        1248
      ],
      "id": "299aa247-015e-4c9f-b083-5891bdbd005e",
      "name": "If3"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"nano-banana-pro\",\n  \"input\": {\n    \"prompt\": \"{{ $json.prompt }}\",\n    \"aspect_ratio\": \"1:1\",\n    \"resolution\": \"1K\",\n    \"output_format\": \"png\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1440,
        1056
      ],
      "id": "b45ce847-d0da-4bc1-b49d-9db54047773e",
      "name": "HTTP Request9",
      "credentials": {
        "httpBearerAuth": {
          "id": "Cetsv7yIMRLTkltZ",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        1664,
        1056
      ],
      "id": "e7bbc3ec-d92a-4c66-b6eb-dd30b5c598f2",
      "name": "Wait1",
      "webhookId": "5501a757-3be4-41ba-ab83-d09204d33f3f"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1808,
        1056
      ],
      "id": "148d784b-dd19-4b3a-9122-3d184be7151a",
      "name": "HTTP Request10",
      "credentials": {
        "httpBearerAuth": {
          "id": "Cetsv7yIMRLTkltZ",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "ee4902c2-6636-4ef4-90a0-a5f1084afd60",
              "leftValue": "={{ $json.data.state}}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1936,
        1056
      ],
      "id": "21f20498-29ae-4b38-a391-049d9cc8cff9",
      "name": "If4"
    },
    {
      "parameters": {
        "url": "={{ JSON.parse($json.data.resultJson).resultUrls[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2224,
        1040
      ],
      "id": "06200f16-35f2-4846-ad4f-aba9a760f3af",
      "name": "HTTP Request11"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        992,
        1056
      ],
      "id": "42a70302-6230-4710-8f36-694f7b3ff1d1",
      "name": "AI Agent6",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "timeout": 360000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        960,
        1248
      ],
      "id": "ab2e5f6e-8225-4c7a-818e-90a63e9271be",
      "name": "OpenAI Chat Model6",
      "credentials": {
        "openAiApi": {
          "id": "wCXpkEOh6gKdzoB9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1072,
        1248
      ],
      "id": "ee050202-7ec2-43f5-913e-39c739f4585a",
      "name": "Simple Memory6"
    },
    {
      "parameters": {
        "endpointUrl": "https://f938354b789f.ngrok-free.app/sse",
        "serverTransport": "sse",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        1184,
        1248
      ],
      "id": "2846f8ba-a2eb-49a9-92bb-f6ceb088b4f5",
      "name": "MCP Client6"
    },
    {
      "parameters": {
        "jsCode": "\n\n// Sortie: 1 seul item n8n (donc array avec 1 élément)\nconst fs = require('fs');\n\nconst folder = $('Code in JavaScript14').first().json.data.address;\nconst build_id = $('Select rows from a table').first().json.id;\n\nfs.mkdirSync(`/data/shared/${folder}/${build_id}/assets`, { recursive: true });\n\nreturn [{\n  json: {\n    sessionId: $('Code in JavaScript14').first().json.sessionId,\n    chatInput: {\n      prompt: \"Use ONLY your generate_logo tool, even if you have other parameter !\",\n      data: $('Code in JavaScript14').first().json.data,\n    },\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        784,
        1232
      ],
      "id": "ccdfee7c-d8f5-4cb6-b18e-2ece2fb4ff2b",
      "name": "Code in JavaScript22"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "profile",
          "mode": "list",
          "cachedResultName": "profile"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "running": true,
            "address": "={{ $('Code in JavaScript14').first().json.data.address }}",
            "step": 2,
            "substep": 0
          },
          "matchingColumns": [
            "address"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "address",
              "displayName": "address",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "builds",
              "displayName": "builds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "running",
              "displayName": "running",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "substep",
              "displayName": "substep",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        992,
        896
      ],
      "id": "f04a5bda-3506-41ff-8814-edbda0129346",
      "name": "Update rows in a table",
      "credentials": {
        "postgres": {
          "id": "Eb14Mhsf3mSrkrpT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "691e8a08-778e-4e27-87a1-6c9079cc9ad3",
              "leftValue": "={{ $('Code in JavaScript14').first().json.data.outputs.visuals.banners }}}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "7ba252e7-45eb-4f5f-8190-08297f345633",
              "leftValue": "=",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "or"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        848,
        1792
      ],
      "id": "72fa3626-4379-42ef-806c-efdb259cb463",
      "name": "If5"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "model",
              "value": "nano-banana-pro"
            },
            {
              "name": "input",
              "value": "={\n  \"prompt\": \"{{ $json.prompt }}\",\n  \"aspect_ratio\": \"1:1\",\n  \"resolution\": \"1K\",\n  \"output_format\": \"png\"\n}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        1776,
        1600
      ],
      "id": "e76500c1-70b6-4dc4-ae3a-8e8714f702f7",
      "name": "HTTP Request12",
      "credentials": {
        "httpBearerAuth": {
          "id": "Cetsv7yIMRLTkltZ",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2000,
        1600
      ],
      "id": "4a274aa5-8786-4178-8299-2ecf3126d56b",
      "name": "Wait2",
      "webhookId": "5501a757-3be4-41ba-ab83-d09204d33f3f"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2144,
        1600
      ],
      "id": "54ae1807-e046-4697-b85e-7fe0a94bfd0f",
      "name": "HTTP Request13",
      "credentials": {
        "httpBearerAuth": {
          "id": "Cetsv7yIMRLTkltZ",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "ee4902c2-6636-4ef4-90a0-a5f1084afd60",
              "leftValue": "={{ $json.data.state}}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2272,
        1600
      ],
      "id": "5b363198-9252-496e-92fa-73e07f1f1334",
      "name": "If6"
    },
    {
      "parameters": {
        "url": "={{ JSON.parse($json.data.resultJson).resultUrls[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2496,
        1584
      ],
      "id": "efa10da3-995a-490e-a5ef-c309b134b4b4",
      "name": "HTTP Request14"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/shared/{{ $('Code in JavaScript14').first().json.data.address }}/{{ $('Select rows from a table').first().json.id }}/assets/{{ $json.data.taskId }}.png",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        2512,
        1744
      ],
      "id": "e4f3de30-4a60-48f6-9906-bab088d8435b",
      "name": "Read/Write Files from Disk6",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1328,
        1600
      ],
      "id": "b8a80527-d044-4248-b81c-674fc5f2f620",
      "name": "AI Agent7",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1296,
        1792
      ],
      "id": "b275fcb4-7555-45f1-b723-c0c6ecd4b73d",
      "name": "OpenAI Chat Model7",
      "credentials": {
        "openAiApi": {
          "id": "wCXpkEOh6gKdzoB9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1408,
        1792
      ],
      "id": "5957ef43-f4db-4c13-8966-79441e6401fa",
      "name": "Simple Memory7"
    },
    {
      "parameters": {
        "endpointUrl": "https://f938354b789f.ngrok-free.app/sse",
        "serverTransport": "sse",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        1520,
        1792
      ],
      "id": "45868a21-3b51-4daa-a2f4-4d5243ad498b",
      "name": "MCP Client7"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\n\nconst folder = $('Code in JavaScript14').first().json.data.address;\nconst build_id = $('Select rows from a table').first().json.id;\n\nfs.mkdirSync(`/data/shared/${folder}/${build_id}/assets`, { recursive: true });\n\n// Sortie: 1 seul item n8n (donc array avec 1 élément)\nreturn [{\n  json: {\n    sessionId: $('Code in JavaScript14').first().json.sessionId,\n    chatInput: {\n      prompt:  \"Use ONLY your generate_banner mcp tool using this data\",\n      data: $('Code in JavaScript14').first().json.data,\n    },\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1120,
        1776
      ],
      "id": "d7ced0ec-b4dc-4218-b209-a54103632f75",
      "name": "Code in JavaScript26"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "profile",
          "mode": "list",
          "cachedResultName": "profile"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "running": true,
            "address": "={{ $('Code in JavaScript14').first().json.data.address }}",
            "step": 2,
            "substep": 2
          },
          "matchingColumns": [
            "address"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "address",
              "displayName": "address",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "builds",
              "displayName": "builds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "running",
              "displayName": "running",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "substep",
              "displayName": "substep",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1344,
        1440
      ],
      "id": "d5309727-399b-43a2-9549-919ff8717d65",
      "name": "Update rows in a table4",
      "credentials": {
        "postgres": {
          "id": "Eb14Mhsf3mSrkrpT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output;\n\nfunction nuke(text) {\n  return String(text ?? '')\n    // virer markdown\n    .replace(/#{1,6}\\s*/g, ' ')\n    .replace(/\\*\\*/g, ' ')\n    .replace(/_/g, ' ')\n\n    // virer sections entières connues\n    .replace(/purpose[\\s\\S]*?brief/gi, ' ')\n    .replace(/technical[\\s\\S]*?requirements/gi, ' ')\n    .replace(/color[\\s\\S]*?requirements/gi, ' ')\n    .replace(/key[\\s\\S]*?needed/gi, ' ')\n    .replace(/variations[\\s\\S]*?feel/gi, ' ')\n    .replace(/elements to avoid[\\s\\S]*?prompt/gi, ' ')\n    .replace(/ai prompt[\\s\\S]*$/gi, ' ')\n\n    // virer listes\n    .replace(/-\\s+/g, ' ')\n\n    // virer tailles, specs, plateformes\n    .replace(/\\b\\d+x\\d+px?\\b/gi, ' ')\n    .replace(/\\b\\d{2,4}px\\b/gi, ' ')\n    .replace(/\\b(png|svg|jpg|jpeg|favicon|icon|twitter|discord|app)\\b/gi, ' ')\n\n    // virer guillemets\n    .replace(/[\"']/g, '')\n\n    // virer parenthèses\n    .replace(/\\([^)]*\\)/g, ' ')\n\n    // virer séparateurs\n    .replace(/═+/g, ' ')\n\n    // lignes -> espaces\n    .replace(/\\r?\\n+/g, ' ')\n\n    // nettoyer répétitions\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\n// EXTRACTION AGRESSIVE : on garde uniquement les phrases descriptives\nconst cleaned = nuke(raw);\n\n// OPTION : limiter la longueur (recommandé pour image models)\nconst finalPrompt = cleaned.split('. ').slice(0, 2).join(', ');\n\nreturn [\n  {\n    json: {\n      prompt: finalPrompt\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1632,
        1600
      ],
      "id": "d9814761-a1bd-4b33-8152-478cac7bfcad",
      "name": "Code in JavaScript28"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "profile",
          "mode": "list",
          "cachedResultName": "profile"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "running": true,
            "address": "={{ $('Code in JavaScript14').first().json.data.address }}",
            "step": 2,
            "substep": 1
          },
          "matchingColumns": [
            "address"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "address",
              "displayName": "address",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "builds",
              "displayName": "builds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "running",
              "displayName": "running",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "substep",
              "displayName": "substep",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2400,
        1184
      ],
      "id": "80a2574b-ae9a-4812-bcf0-112fd358d620",
      "name": "Update rows in a table5",
      "credentials": {
        "postgres": {
          "id": "Eb14Mhsf3mSrkrpT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "profile",
          "mode": "list",
          "cachedResultName": "profile"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "running": true,
            "address": "={{ $('Code in JavaScript14').first().json.data.address }}",
            "step": 2,
            "substep": 3
          },
          "matchingColumns": [
            "address"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "address",
              "displayName": "address",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "builds",
              "displayName": "builds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "running",
              "displayName": "running",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "substep",
              "displayName": "substep",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2656,
        1744
      ],
      "id": "5500a584-3d3f-458d-87c3-7e8348376f73",
      "name": "Update rows in a table6",
      "credentials": {
        "postgres": {
          "id": "Eb14Mhsf3mSrkrpT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "691e8a08-778e-4e27-87a1-6c9079cc9ad3",
              "leftValue": "={{ $('Code in JavaScript14').first().json.data.outputs.website.landingPage }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            },
            {
              "id": "7ba252e7-45eb-4f5f-8190-08297f345633",
              "leftValue": "",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        1280,
        2368
      ],
      "id": "deec1100-5b36-41f9-8213-ae62ccc020e6",
      "name": "If7"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.kie.ai/api/v1/jobs/createTask",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"model\": \"nano-banana-pro\",\n  \"input\": {\n    \"prompt\": \"{{ $json.content }}\",\n    \"aspect_ratio\": \"1:1\",\n    \"resolution\": \"1K\",\n    \"output_format\": \"png\"\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2192,
        2176
      ],
      "id": "db489471-65f5-4456-b0b1-a87767487fe0",
      "name": "HTTP Request15",
      "credentials": {
        "httpBearerAuth": {
          "id": "Cetsv7yIMRLTkltZ",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "amount": 10
      },
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        2432,
        2176
      ],
      "id": "88b32938-9603-40e4-8165-8876dc9f0513",
      "name": "Wait3",
      "webhookId": "5501a757-3be4-41ba-ab83-d09204d33f3f"
    },
    {
      "parameters": {
        "url": "https://api.kie.ai/api/v1/jobs/recordInfo",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "httpBearerAuth",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "taskId",
              "value": "={{ $json.data.taskId }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        2640,
        2176
      ],
      "id": "8b73213a-8d43-4c36-8cd4-dcfc0296e44a",
      "name": "HTTP Request16",
      "credentials": {
        "httpBearerAuth": {
          "id": "Cetsv7yIMRLTkltZ",
          "name": "Bearer Auth account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose",
            "version": 3
          },
          "conditions": [
            {
              "id": "ee4902c2-6636-4ef4-90a0-a5f1084afd60",
              "leftValue": "={{ $json.data.state}}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        2848,
        2176
      ],
      "id": "ab92ceaa-0a3d-47a4-bf76-04c929c2995c",
      "name": "If8"
    },
    {
      "parameters": {
        "url": "={{ JSON.parse($json.data.resultJson).resultUrls[0] }}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        3056,
        2160
      ],
      "id": "328adc52-6c66-498b-a5ac-581769c452d5",
      "name": "HTTP Request17"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/shared/{{ $('Code in JavaScript14').first().json.data.address }}/{{ $('Select rows from a table').first().json.id }}/assets/{{ $('HTTP Request16').item.json.data.taskId }}.png",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        3072,
        2320
      ],
      "id": "362ecfe6-f0ea-4b48-b1c3-2957beaa4631",
      "name": "Read/Write Files from Disk7",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        1760,
        2176
      ],
      "id": "383e03e5-84d2-4aec-b306-4eef0881656d",
      "name": "AI Agent8",
      "retryOnFail": true,
      "waitBetweenTries": 3000
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        1728,
        2368
      ],
      "id": "dd40ce73-bde0-4f19-9d25-fe94136a7943",
      "name": "OpenAI Chat Model8",
      "credentials": {
        "openAiApi": {
          "id": "wCXpkEOh6gKdzoB9",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        1840,
        2368
      ],
      "id": "f6cd5e0c-dec0-41c0-872d-283f94b047aa",
      "name": "Simple Memory8"
    },
    {
      "parameters": {
        "endpointUrl": "https://f938354b789f.ngrok-free.app/sse",
        "serverTransport": "sse",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        1952,
        2368
      ],
      "id": "820aa199-781d-4a2d-9ea4-87fe1ca6a8a9",
      "name": "MCP Client8"
    },
    {
      "parameters": {
        "jsCode": "const fs = require('fs');\n\nconst folder = $('Code in JavaScript14').first().json.data.address;\nconst build_id = $('Select rows from a table').first().json.id;\n\nfs.mkdirSync(`/data/shared/${folder}/${build_id}/assets`, { recursive: true });\n\n// Sortie: 1 seul item n8n (donc array avec 1 élément)\nreturn [{\n  json: {\n    sessionId: $('Code in JavaScript14').first().json.sessionId,\n    chatInput: {\n      prompt:  \"Use ONLY your generate_x_assets tool\",\n      data: $('Code in JavaScript14').first().json.data,\n    },\n  },\n}];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1552,
        2352
      ],
      "id": "9db12ae2-0b47-4fc1-9768-d0afeee933a8",
      "name": "Code in JavaScript34"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "profile",
          "mode": "list",
          "cachedResultName": "profile"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "running": true,
            "address": "={{ $('Code in JavaScript14').first().json.data.address }}",
            "step": 2,
            "substep": 4
          },
          "matchingColumns": [
            "address"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "address",
              "displayName": "address",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "builds",
              "displayName": "builds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "running",
              "displayName": "running",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "substep",
              "displayName": "substep",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        1760,
        2016
      ],
      "id": "011fb425-eb5f-4143-ba88-a0170e4d8339",
      "name": "Update rows in a table7",
      "credentials": {
        "postgres": {
          "id": "Eb14Mhsf3mSrkrpT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Retourne 1 item par fichier\nreturn {\n    content: JSON.parse($input.first().json.output)\n  };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2064,
        2176
      ],
      "id": "c917043e-70af-42eb-bc68-2343f0aabdbe",
      "name": "Code in JavaScript36"
    },
    {
      "parameters": {
        "operation": "update",
        "schema": {
          "__rl": true,
          "mode": "list",
          "value": "public"
        },
        "table": {
          "__rl": true,
          "value": "profile",
          "mode": "list",
          "cachedResultName": "profile"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "running": false,
            "address": "={{ $('Code in JavaScript14').first().json.data.address }}",
            "step": 2,
            "substep": 5
          },
          "matchingColumns": [
            "address"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": true,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "address",
              "displayName": "address",
              "required": true,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "builds",
              "displayName": "builds",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true,
              "removed": true
            },
            {
              "id": "running",
              "displayName": "running",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "boolean",
              "canBeUsedToMatch": true
            },
            {
              "id": "step",
              "displayName": "step",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            },
            {
              "id": "substep",
              "displayName": "substep",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "number",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        3248,
        2320
      ],
      "id": "f5e6880d-23f1-4425-ae7c-e9ecd66fbcb9",
      "name": "Update rows in a table8",
      "credentials": {
        "postgres": {
          "id": "Eb14Mhsf3mSrkrpT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Ton input = [{ output: \"JSON_STRING\" }]\n\nconst raw = $input.first().json.output;\n\n// Retourne 1 item par fichier\nreturn {\n  path: \"tweets.md\",\n  content: raw,\n  address: $('Code in JavaScript14').first().json.data.address\n}\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        800,
        608
      ],
      "id": "91ef2aff-97ac-4ea4-a44e-c8b0f1decca3",
      "name": "Code in JavaScript20"
    },
    {
      "parameters": {
        "jsCode": "const raw = $input.first().json.output;\n\nfunction nuke(text) {\n  return String(text ?? '')\n    // virer markdown\n    .replace(/#{1,6}\\s*/g, ' ')\n    .replace(/\\*\\*/g, ' ')\n    .replace(/_/g, ' ')\n\n    // virer sections entières connues\n    .replace(/purpose[\\s\\S]*?brief/gi, ' ')\n    .replace(/technical[\\s\\S]*?requirements/gi, ' ')\n    .replace(/color[\\s\\S]*?requirements/gi, ' ')\n    .replace(/key[\\s\\S]*?needed/gi, ' ')\n    .replace(/variations[\\s\\S]*?feel/gi, ' ')\n    .replace(/elements to avoid[\\s\\S]*?prompt/gi, ' ')\n    .replace(/ai prompt[\\s\\S]*$/gi, ' ')\n\n    // virer listes\n    .replace(/-\\s+/g, ' ')\n\n    // virer tailles, specs, plateformes\n    .replace(/\\b\\d+x\\d+px?\\b/gi, ' ')\n    .replace(/\\b\\d{2,4}px\\b/gi, ' ')\n    .replace(/\\b(png|svg|jpg|jpeg|favicon|icon|twitter|discord|app)\\b/gi, ' ')\n\n    // virer guillemets\n    .replace(/[\"']/g, '')\n\n    // virer parenthèses\n    .replace(/\\([^)]*\\)/g, ' ')\n\n    // virer séparateurs\n    .replace(/═+/g, ' ')\n\n    // lignes -> espaces\n    .replace(/\\r?\\n+/g, ' ')\n\n    // nettoyer répétitions\n    .replace(/\\s+/g, ' ')\n    .trim();\n}\n\n// EXTRACTION AGRESSIVE : on garde uniquement les phrases descriptives\nconst cleaned = nuke(raw);\n\n// OPTION : limiter la longueur (recommandé pour image models)\nconst finalPrompt = cleaned.split('. ').slice(0, 2).join(', ');\n\nreturn [\n  {\n    json: {\n      prompt: finalPrompt\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1328,
        1056
      ],
      "id": "ecf93021-49ff-4ca1-99f4-3961ec4ad8b8",
      "name": "Code in JavaScript21"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/shared/{{ $('Code in JavaScript14').first().json.data.address }}/{{ $('Select rows from a table').first().json.id }}/assets/{{ $('HTTP Request9').item.json.data.taskId }}.png",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        2256,
        1184
      ],
      "id": "affdd025-7d4d-42d9-8540-93d9b731a010",
      "name": "Read/Write Files from Disk1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "operation": "select",
        "schema": {
          "__rl": true,
          "value": "public",
          "mode": "list",
          "cachedResultName": "public"
        },
        "table": {
          "__rl": true,
          "value": "build",
          "mode": "list",
          "cachedResultName": "build"
        },
        "where": {
          "values": [
            {
              "column": "ownerAddress",
              "value": "={{ $('Code in JavaScript14').first().json.data.address }}"
            }
          ]
        },
        "sort": {
          "values": [
            {
              "column": "createdAt",
              "direction": "DESC"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -784,
        112
      ],
      "id": "f9be23e1-7308-456f-863b-b64cc0aa8d96",
      "name": "Select rows from a table",
      "credentials": {
        "postgres": {
          "id": "Eb14Mhsf3mSrkrpT",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": false,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "95865c08-8c32-4b27-86b9-39ac2f27b5c0",
              "leftValue": false,
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "true",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {
          "ignoreCase": true
        }
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.3,
      "position": [
        -656,
        112
      ],
      "id": "a62bbae6-060d-4f13-87ac-56c3e1d5805c",
      "name": "Filter"
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript14",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript14": {
      "main": [
        [
          {
            "node": "Code in JavaScript15",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert or update rows in a table1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent3": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model3": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory3": {
      "ai_memory": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client3": {
      "ai_tool": [
        [
          {
            "node": "AI Agent3",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript15": {
      "main": [
        [
          {
            "node": "AI Agent3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table1": {
      "main": [
        [
          {
            "node": "Select rows from a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If1": {
      "main": [
        [
          {
            "node": "Code in JavaScript17",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If2": {
      "main": [
        [
          {
            "node": "Code in JavaScript19",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent4": {
      "main": [
        [
          {
            "node": "Code in JavaScript18",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model4": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory4": {
      "ai_memory": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client4": {
      "ai_tool": [
        [
          {
            "node": "AI Agent4",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript17": {
      "main": [
        [
          {
            "node": "AI Agent4",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert or update rows in a table2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript18": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk4": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table3": {
      "main": [
        [
          {
            "node": "If2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent5": {
      "main": [
        [
          {
            "node": "Code in JavaScript20",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model5": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent5",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory5": {
      "ai_memory": [
        [
          {
            "node": "AI Agent5",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client5": {
      "ai_tool": [
        [
          {
            "node": "AI Agent5",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript19": {
      "main": [
        [
          {
            "node": "AI Agent5",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert or update rows in a table4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk5": {
      "main": [
        [
          {
            "node": "Insert or update rows in a table5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert or update rows in a table5": {
      "main": [
        [
          {
            "node": "If3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If3": {
      "main": [
        [
          {
            "node": "Code in JavaScript22",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request9": {
      "main": [
        []
      ]
    },
    "Wait1": {
      "main": [
        [
          {
            "node": "HTTP Request10",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request10": {
      "main": [
        [
          {
            "node": "If4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If4": {
      "main": [
        [
          {
            "node": "HTTP Request11",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request11": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent6": {
      "main": [
        [
          {
            "node": "Code in JavaScript21",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model6": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent6",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory6": {
      "ai_memory": [
        [
          {
            "node": "AI Agent6",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client6": {
      "ai_tool": [
        [
          {
            "node": "AI Agent6",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript22": {
      "main": [
        [
          {
            "node": "AI Agent6",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update rows in a table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If5": {
      "main": [
        [
          {
            "node": "Code in JavaScript26",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request12": {
      "main": [
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait2": {
      "main": [
        [
          {
            "node": "HTTP Request13",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request13": {
      "main": [
        [
          {
            "node": "If6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If6": {
      "main": [
        [
          {
            "node": "HTTP Request14",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request14": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk6": {
      "main": [
        [
          {
            "node": "Update rows in a table6",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent7": {
      "main": [
        [
          {
            "node": "Code in JavaScript28",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model7": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent7",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory7": {
      "ai_memory": [
        [
          {
            "node": "AI Agent7",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client7": {
      "ai_tool": [
        [
          {
            "node": "AI Agent7",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript26": {
      "main": [
        [
          {
            "node": "AI Agent7",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update rows in a table4",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript28": {
      "main": [
        [
          {
            "node": "HTTP Request12",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table5": {
      "main": [
        [
          {
            "node": "If5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update rows in a table6": {
      "main": [
        [
          {
            "node": "If7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If7": {
      "main": [
        [
          {
            "node": "Code in JavaScript34",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "HTTP Request15": {
      "main": [
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait3": {
      "main": [
        [
          {
            "node": "HTTP Request16",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request16": {
      "main": [
        [
          {
            "node": "If8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If8": {
      "main": [
        [
          {
            "node": "HTTP Request17",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request17": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk7": {
      "main": [
        [
          {
            "node": "Update rows in a table8",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent8": {
      "main": [
        [
          {
            "node": "Code in JavaScript36",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model8": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent8",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory8": {
      "ai_memory": [
        [
          {
            "node": "AI Agent8",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client8": {
      "ai_tool": [
        [
          {
            "node": "AI Agent8",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript34": {
      "main": [
        [
          {
            "node": "AI Agent8",
            "type": "main",
            "index": 0
          },
          {
            "node": "Update rows in a table7",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript36": {
      "main": [
        [
          {
            "node": "HTTP Request15",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript20": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript21": {
      "main": [
        [
          {
            "node": "HTTP Request9",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read/Write Files from Disk1": {
      "main": [
        [
          {
            "node": "Update rows in a table5",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Select rows from a table": {
      "main": [
        [
          {
            "node": "Filter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter": {
      "main": [
        [
          {
            "node": "If1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "be21a035e50b2bffdd49709ff7d39b3d807f99e0ebccfc0c7e06eba3ba750b87"
  }
}