n8n/workflows/workflow.json
{
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1312,
        320
      ],
      "id": "2ff99bf0-1a33-469a-99a0-57da3816ed3c",
      "name": "When chat message received",
      "webhookId": "36e7145c-5e5c-4e3d-94c8-7638b1b67f3a"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -576,
        -16
      ],
      "id": "fc4265f3-ed2c-44ab-b85a-54ea7e654dd6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -672,
        208
      ],
      "id": "195a33cf-6b5d-442c-bd0f-d6a83595ca85",
      "name": "OpenAI Chat Model",
      "credentials": {
        "openAiApi": {
          "id": "a0rDwhX9iRjxmCRa",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -528,
        208
      ],
      "id": "166ac4e6-1e57-4e14-b3cf-95e49594ba0e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "endpointUrl": "https://f86dccbde507.ngrok-free.app/sse",
        "serverTransport": "sse",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        -336,
        208
      ],
      "id": "792b02f1-a5a9-47fc-ab3b-b71505f9363d",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a78c2256-c123-4280-b22d-b375ff664f36",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1280,
        -64
      ],
      "id": "461ebd67-2d09-484b-a601-ffc22f789e1f",
      "name": "Webhook",
      "webhookId": "a78c2256-c123-4280-b22d-b375ff664f36"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body;\n\nconst chatinput = body.chatInput;\nconst prompt = body.prompt;\nconst data = body.data;\n\nreturn [\n  {\n    sessionId: body.sessionId,\n    action: body.action,\n    chatInput: {\n      chatinput,\n      prompt,\n      data\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -912,
        -64
      ],
      "id": "802661e6-9f69-4909-a28f-814937e73ae0",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "// Ton input = [{ output: \"JSON_STRING\" }]\n\nconst raw = items[0].json.output;\n\n// Parse la string JSON\nconst files = JSON.parse(raw);\n\n// Retourne 1 item par fichier\nreturn files.map(file => ({\n  json: {\n    path: file.path,\n    content: file.content\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -32,
        -384
      ],
      "id": "22db7f2c-c230-4c15-94d2-5009756de946",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "content",
        "binaryPropertyName": "=data",
        "options": {
          "encoding": "utf8",
          "fileName": "={{ $json.path.split(\"/\")[3] }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        176,
        -384
      ],
      "id": "95e3cd65-c389-428d-ac7e-3636e2b1888e",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.step }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "57684251-0a32-4c52-a091-941d043b3c4c"
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -224,
        -16
      ],
      "id": "4776a803-0030-42aa-ae9b-d6c467be605a",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/outputs/{{ $binary.data.fileName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        400,
        -384
      ],
      "id": "ed8146dd-680f-43e8-8d32-86da63023491",
      "name": "Read/Write Files from Disk"
    }
  ],
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "033db48e0e4b18a485445fe802f4fc3760345ec3e453e59fa62907922c4bfe16"
  }
}