n8n/workflows/workflow.json
{
  "nodes": [
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -1056,
        48
      ],
      "id": "a64ec5b2-8918-4276-a227-419617daa4af",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4.1-mini"
        },
        "builtInTools": {},
        "options": {
          "timeout": 180000
        }
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -1104,
        272
      ],
      "id": "58837959-f2ec-405c-8eb3-3972bb182d2c",
      "name": "OpenAI Chat Model",
      "retryOnFail": true,
      "credentials": {
        "openAiApi": {
          "id": "OcgIdTpnAX0zmJz3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "contextWindowLength": 10
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -976,
        272
      ],
      "id": "9aa26f08-3746-4921-bcc9-5d8827d8d51e",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "endpointUrl": "https://70c894f1aef8.ngrok-free.app/sse",
        "serverTransport": "sse",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.mcpClientTool",
      "typeVersion": 1.2,
      "position": [
        -848,
        272
      ],
      "id": "ddc0393e-44c4-4ca2-a52a-60ea8ef8e46b",
      "name": "MCP Client"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "a78c2256-c123-4280-b22d-b375ff664f36",
        "responseMode": "responseNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -1584,
        -48
      ],
      "id": "7bab28fa-f032-4f13-8d89-0366f5aeedab",
      "name": "Webhook",
      "webhookId": "a78c2256-c123-4280-b22d-b375ff664f36"
    },
    {
      "parameters": {
        "jsCode": "const body = $json.body;\n\nconst chatinput = body.chatInput;\nconst prompt = body.prompt;\nconst data = body.data;\n\nreturn [\n  {\n    sessionId: body.sessionId,\n    action: body.action,\n    chatInput: {\n      chatinput,\n      prompt,\n      data\n    }\n  }\n];\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -1328,
        -48
      ],
      "id": "c6f35684-80f6-4e4d-8fc6-ea60030aba8c",
      "name": "Code in JavaScript1"
    },
    {
      "parameters": {
        "jsCode": "// Ton input = [{ output: \"JSON_STRING\" }]\n\nconst fs = require('fs');\nfs.writeFileSync('/tmp/test.txt', 'test');\n\nconst folder = $('Code in JavaScript1').first().json.sessionId;\n\nfs.mkdirSync(`/data/shared/${folder}/documentation`, { recursive: true });\n\n\nconst raw = $input.first().json.output;\n// Parse la string JSON\nconst files = JSON.parse(raw);\n// Retourne 1 item par fichier\nreturn files.map(file => ({\n  json: {\n    path: file.path,\n    content: file.content\n  }\n}));\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        -144
      ],
      "id": "36973211-d8a5-4ddd-aa08-4a58890cbfd0",
      "name": "Code in JavaScript"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "content",
        "binaryPropertyName": "=data",
        "options": {
          "encoding": "utf8",
          "fileName": "={{ $json.path.split(\"/\")[3] }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -192,
        -144
      ],
      "id": "1d357612-6ca9-4a97-9d0a-4cfc04a20b31",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Webhook').item.json.body.step }}",
                    "rightValue": 1,
                    "operator": {
                      "type": "number",
                      "operation": "equals"
                    },
                    "id": "57684251-0a32-4c52-a091-941d043b3c4c"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "01ccf0e1-a569-48e4-a7f4-059359abd89f",
                    "leftValue": "={{ $('Webhook').item.json.body.step }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "loose",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "3230de04-f5a1-46a4-92a9-0f3fd78e6afc",
                    "leftValue": "={{ $('Webhook').item.json.body.step }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals",
                      "name": "filter.operator.equals"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "looseTypeValidation": true,
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        -640,
        32
      ],
      "id": "09aa0b3a-ba0f-49fb-89f2-41e4f99ed6c2",
      "name": "Switch"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/shared/{{ $('Code in JavaScript1').item.json.sessionId }}/documentation/{{ $binary.data.fileName }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        32,
        -144
      ],
      "id": "7e41fcf0-21ba-47fa-ab61-16f7ab9ab220",
      "name": "Read/Write Files from Disk",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.4,
      "position": [
        -1328,
        144
      ],
      "id": "a98dd6db-aeb7-420b-9843-a275020f8ab3",
      "name": "When chat message received",
      "webhookId": "36e7145c-5e5c-4e3d-94c8-7638b1b67f3a"
    },
    {
      "parameters": {
        "jsCode": "// Ton input = [{ output: \"JSON_STRING\" }]\n\nconst raw = items[0].json.output;\n\n// Parse la string JSON\n\nconst fs = require('fs');\n\nconst folder = $('Code in JavaScript1').first().json.sessionId;\n\nfs.mkdirSync(`/data/shared/${folder}/website`, { recursive: true });\n\n// Retourne 1 item par fichier\nreturn {\n    path: \"/data/shared/${folder}/website/index.html\",\n    content: $input.first().json.output\n  };\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        48
      ],
      "id": "eaa22c32-31ca-42f3-a31f-49558a90a5b9",
      "name": "Code in JavaScript2"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "content",
        "binaryPropertyName": "=data",
        "options": {
          "encoding": "utf8",
          "fileName": "={{ $json.path.split(\"/\")[3] }}"
        }
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        -192,
        48
      ],
      "id": "ddbd2007-660f-416b-bd85-88048b558e8a",
      "name": "Convert to File1"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/shared/{{ $('Code in JavaScript1').item.json.sessionId }}/website/index.html",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        32,
        48
      ],
      "id": "50bc48af-e61d-47c1-9aa1-bf97832d3957",
      "name": "Read/Write Files from Disk1",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "resource": "image",
        "prompt": "={{ $json.content }}",
        "options": {
          "returnImageUrls": false
        }
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 2.1,
      "position": [
        -192,
        240
      ],
      "id": "63c5b35f-6356-4bd7-94d6-6e51290a3718",
      "name": "Generate an image",
      "credentials": {
        "openAiApi": {
          "id": "OcgIdTpnAX0zmJz3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const data = $input.first().json.output;\n\nconst fs = require('fs');\n\nconst folder = $('Code in JavaScript1').first().json.sessionId;\n\nfs.mkdirSync(`/data/shared/${folder}/assets`, { recursive: true });\n\nreturn JSON.parse(data);\n"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -416,
        240
      ],
      "id": "5590363d-8b36-4a44-ba47-b5c247d63220",
      "name": "Code in JavaScript3"
    },
    {
      "parameters": {
        "operation": "write",
        "fileName": "=/data/shared/{{ $('Code in JavaScript1').item.json.sessionId }}/assets/{{ $binary.data.fileName + $json.id.split('/')[5] }}.{{ $json.fileExtension }}",
        "options": {}
      },
      "type": "n8n-nodes-base.readWriteFile",
      "typeVersion": 1.1,
      "position": [
        32,
        240
      ],
      "id": "6273057c-8746-4aeb-8d54-bf402b45a4df",
      "name": "Read/Write Files from Disk2",
      "alwaysOutputData": false
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"success\": true,\n  \"step\": {{ $('Webhook').item.json.body.step }},\n  \"session_id\": \"{{ $('Webhook').item.json.body.sessionId }}\"\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1.5,
      "position": [
        -1040,
        -208
      ],
      "id": "3bdf20bc-3997-43e1-89f9-37849fc6d9a7",
      "name": "Respond to Webhook"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "options": {}
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -848,
        -384
      ],
      "id": "46a308c6-2bf1-42c8-8eba-6245b6706c16",
      "name": "Execute a SQL query"
    }
  ],
  "connections": {
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "MCP Client": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Code in JavaScript1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript1": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "Code in JavaScript",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript2",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Code in JavaScript3",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript2": {
      "main": [
        [
          {
            "node": "Convert to File1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File1": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate an image": {
      "main": [
        [
          {
            "node": "Read/Write Files from Disk2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code in JavaScript3": {
      "main": [
        [
          {
            "node": "Generate an image",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Respond to Webhook": {
      "main": [
        [
          {
            "node": "Execute a SQL query",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "687525e662e08c5ad52e2a0b8e9a9a8f0fca252f661bd30873173d3eba1f0987"
  }
}